<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
		<add key="ConnectionString" value="server=.;database=EHR;uid=sa;pwd=123"/>
		<!--supesoft权限管理系统 MsSql-->
		<add key="DBType" value="MsSql"/>
		<add key="MsSql" value="server=.;database=EHR;uid=sa;pwd=123;"/>
		<!--数据访问层程序集名称 -->
		<add key="DAL" value="Maticsoft.SQLServerDAL"/>
		<!--虚拟目录名称(如果是站点，则为空) -->
		<add key="VirtualPath" value=""/>
		<!--网站域名，本地目录可以用.   -->
		<add key="WebURL" value=""/>
		<!--默认菜单是否是展开状态-->
		<add key="MenuExpanded" value="false"/>
		<!--管理员所属部门名称-->
		<add key="AdManager" value="管理部"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
		<!--当前显示应用模组 0:显示所有应用 其它显示相关应用 -->
		<add key="ApplicationID" value="0"/>
		<!--显示出错详细信息在用户页面(开发环境设置为True,在生产环境请设置为false)-->
		<add key="DispError" value="false"/>
		<!--日志目录 默认为当前目录Manager\Log -->
		<add key="LogDir" value="Manager\Log\"/>
		<!--用户在线过期时间 (分)默认30分 如果用户在当前设定的时间内没有任何操作,将会被系统自动退出 设为0则强制限出功能无效(仅限于开发模式使用)-->
		<add key="OnlineMinute" value="30"/>
		<!--在线统计数据保存环境 0:缓存中 1:数据库中-->
		<add key="OnlineCountType" value="1"/>
		<!--缓存类配置(命名空间) FrameWorkCache.IloveYou-->
		<add key="Cachenamespace" value="FrameWork"/>
		<!--缓存类配置(类名) FrameWorkCache.IloveYou.FrameWorkCacheRemoting-->
		<add key="CacheclassName" value="FrameWork.HttpWebCache"/>
		<!--Remoting服务器地址-->
		<add key="FrameWorkCacheService" value="tcp://localhost:9742/FrameWorkCache.CacheManager"/>
		<!--是否允许清空操作日志 默认为false-->
		<add key="AllowClearData" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--Form认证设置Start-->
		<authentication mode="Forms">
			<forms name=".FrameWork" defaultUrl="Manager/Default.aspx" loginUrl="Manager/Login.aspx" enableCrossAppRedirects="true" path="/"></forms>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--Form认证设置End-->
		<!--判断权限-->
		<httpModules>
			<add name="FrameWorkPermission" type="FrameWork.FrameWorkPermission"/>
		</httpModules>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
		<pages theme="Standard">
			<!--自定义控件 Start-->
			<controls>
				<add namespace="FrameWork.WebControls" assembly="FrameWork" tagPrefix="FrameWorkWebControls"/>
			</controls>
			<!--自定义控件 End-->
		</pages>
	</system.web>
</configuration>
